<div class="jumbotron">
	<h1>Welcome to MyFitnessFriend!</h1>
	<p>We believe — and medical studies prove — that the best way to lose weight and keep it off forever is to simply keep track of the foods you eat. Gimmicky machines and fad diets don't work, so we designed a free website and mobile apps that make calorie counting and food tracking easy.</p>
	<p>Sign up today for free!</p>
	<p><%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg" %></p>
<div>

